    html, body {
      margin: 0;
      background-image: url('TestBackground.png');
      background-size: cover;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
    }

    #scoreboard {
      position: absolute;
      top: 15px;
      left: 43%;
      font-size: 50px;
      color: white;
      z-index: 100;
      font-family: sans-serif;
    }

    #gameOverMessage {
      position: absolute;
      font-family: sans-serif;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      text-align: center;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: auto;
    }
    #gameOverMessage button {
      background-color: #0369a1;
      color: white;
      font-size: 25px;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin-bottom: 30px;
    }
    #gameOverMessage button:hover {
      background-color: #0284c7;
    }

    #startMessage{
      width: 50%;
      align-self: center;
      margin-top: 20px;
    }
    #startMessage button{
      background-color: #0369a1;
      font-family: sans-serif;
      color: white;
      font-size: 25px;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin: none;
      
    }
    #startMessage button:hover{
      background-color: #0284c7;
      transform: scale(1.2); /* Scale up to 120% */
    }
    #startImage{
      
      align-self: center;
      margin: 0px;
    }

